.cases {
  margin-top: 80px;
  z-index: 2;
  position: relative;
  &__wrap {
    background-color: #ffffff;
    padding-left: 60px;
    padding-right: 60px;
    @media (max-width: 550px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 140px;
    padding-top: 120px;
    @media (max-width: 1400px) {
      padding-left: 0;
      padding-top: 50px;
    }
    @media (max-width: 991px) {
      flex-direction: column;
    }

    &__title {
      color: #202020;
      font-family: 'GT Eesti Pro Display', sans-serif;
      font-size: 55px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: 47.25px;
      text-align: left;
    }
    &__text {
      color: #202020;
      font-family: 'GT Eesti Pro Display', sans-serif;
      font-size: 26px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 30px;
      text-align: left;
      margin-left: -80px;
      @media (max-width: 1280px) {
        margin-left: 35px;
      }
      @media (max-width: 991px) {
        margin: 10px 0;
      }
    }
    &__img {
      margin-right: -105px;
      margin-top: 15px;
      @media (max-width:1280px) {
        margin-right: 0;
      }
    }
  }
  &__woman {
    position: absolute;
    z-index: 1;
    width: 95%;
    bottom: 0;
    right: 2%;
  }
  &__box {
    position: relative;
    margin-bottom: 80px;
    &__ya {
      margin-left: 18px;
      margin-top: 80px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      &:nth-child(0) {
        margin-top: 0;
      }
      & a {
        text-decoration: none;
        color: #454545;
        font-family: 'GT Eesti Pro Display', sans-serif;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: left;
        margin-left: 20px;
      }
    }
    &__info {
      background-color: #fafafa;
      width: 95%;
      overflow: hidden;
      margin: 0 auto;
      padding-bottom: 20px;
      & h3 {
        color: #202020;
        font-family: 'GT Eesti Pro Display', sans-serif;
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        z-index: 2;
        position: relative;
        margin-top: 60px;
        margin-left: 40px;
      }
      & p {
        color: #0f0000;
        font-family: 'GT Eesti Pro Display', sans-serif;
        font-size: 17px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 20px;
        z-index: 2;
        position: relative;
        margin-left: 40px;
      }
      & img {
        z-index: 2;
        position: relative;
      }
      & img:nth-child(odd) {
        margin-left: 40px;
      }
    }
  }
}
.second__ya {
  @media (max-width: 550px) {
    margin-top: 0;
  }
}
