.header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 2;
    // padding-bottom: 120px;
    &__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
        &__title {
            color: #030303;
            font-family: "GT Eesti Pro Display";
            font-size: 18px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: 21px;
            text-align: right;
            text-transform: uppercase;
        }
        &__block>.navbar>a {
            margin-right: 30px;
            color: #1f1e1d;
            font-family: "GT Eesti Pro Display";
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: normal;
            line-height: 70.62px;
            text-align: left;
            text-decoration: none;
        }
        &__left {
            margin-top: 120px;
            & h3 {
                color: #000000;
                font-family: "GT Eesti Pro Display";
                font-size: 22px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                line-height: 51.2px;
                text-align: left;
            }
            & img {
                position: absolute;
                top: 55%;
                left: 0;
            }
            & button {
                width: 230px;
                height: 60px;
                box-shadow: 14px 0 24px rgba(112, 178, 247, 0.28);
                border-radius: 6px;
                background-color: #6b7df1;
                border: none;
                margin-top: 280px;
                & a {
                    width: 156px;
                    height: 13px;
                    color: #fcfcfc;
                    font-family: "GT Eesti Pro Display";
                    font-size: 16px;
                    font-weight: 700;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 55.91px;
                    text-align: left;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
        &__right {
            & img {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}