.main {
    margin-top: 20px;
    background-color: #fff;
    z-index: 2;
    position: relative;
    // margin-top: 180px;
    &__box--1 {
        position: relative;
        margin-top: -36px;
    }
    &__box--2 {
        position: relative;
        margin-top: -54px;
        margin-left: -20px;
        padding: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    &-cases {
        padding: 50px 184px 0 80px;
        border: 1px solid #fff;
        background-color: #fff;
        &__title span {
            font-family: "Muller Light";
            font-style: normal;
            letter-spacing: 0.09px;
            line-height: normal;
        }
        &__title {
            /* Style for "Кейсы" */
            color: #202020;
            font-family: "Muller Bold";
            font-size: 4.2em;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 47.25px;
            text-align: left;
            /* Text style for "Кейсы" */
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
        }
        &__text {
            /* Style for "Сложная ве" */
            color: #202020;
            font-family: "GT Eesti Pro Display";
            font-size: 2.6em;
            font-weight: 500;
            font-style: normal;
            letter-spacing: normal;
            line-height: 30px;
            text-align: left;
            /* Text style for "Сложная ве" */
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            margin-top: 60px;
        }
        &__btn {
            display: contents;
        }
        & .bi-arrow-right {
            // width: 20px;
            // height: 10px;
            background-size: cover;
            position: absolute;
            right: 14%;
        }
        &__lectures {
            display: flex;
            align-items: center;
            padding: 50px 184px 0 80px;
            & p {
                /* Style for "Лекционные" */
                color: #454545;
                font-family: "GT Eesti Pro Display";
                font-size: 2em;
                font-weight: 500;
                font-style: normal;
                letter-spacing: normal;
                line-height: 21px;
                text-align: left;
                /* Text style for "Лекционные" */
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                margin-left: 40px;
            }
        }
        &__footer {
            /* Style for "Мы занимае" */
            padding: 50px 184px 0 80px;
            color: #454545;
            font-family: "GT Eesti Pro Display";
            font-size: 1.6em;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: 21px;
            text-align: left;
            /* Text style for "М, ы заним" */
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
        }
    }
    // SPEAKER //
    &-speaker {
        border: 1px solid #fff;
        background-color: #fff;
        // &__rectangle {
        //     width: 600px;
        //     height: 50px;
        //     position: absolute;
        //     right: -48%;
        //     top: 1%;
        // }
        &__title {
            color: #202020;
            margin-left: 90px;
            margin-top: 20px;
            font-family: "GT Eesti Pro Display";
            font-size: 2.4em;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 47.25px;
            /* Text style for "Сайт поиск" */
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
        }
        &__img {
            margin-top: 60px;
            margin-left: 20px;
            width: 380px;
            height: 180px;
            background-size: cover;
        }
        &__img img {
            width: 100%;
            background-size: cover;
        }
        &__text {
            /* Style for "Lorem ipsu" */
            width: 390px;
            margin-left: 60px;
            margin-top: 60px;
            color: #454545;
            font-family: "GT Eesti Pro Display";
            font-size: 1.6em;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: 24px;
            text-align: left;
            /* Text style for "L, orem ip" */
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
        }
        &__footer {
            /* Style for "Мы занимае" */
            padding: 50px 184px 40px 60px;
            color: #454545;
            font-family: "GT Eesti Pro Display";
            font-size: 1.6em;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: 21px;
            text-align: left;
            /* Text style for "М, ы заним" */
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            & span {
                margin-left: 20px;
                color: #454545;
                font-family: "GT Eesti Pro Display";
                font-size: 16px;
                font-weight: 300;
                font-style: normal;
                letter-spacing: normal;
                line-height: 24px;
                text-align: left;
                /* Text style for "h, ttps://" */
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
            }
        }
        &__logo {
            width: 52px;
            height: 296px;
            background-size: cover;
            position: absolute;
            top: 25%;
            right: 6%;
        }
    }
}

//========================BOX STYLE======================