.marquee {
  background-color: #fff;
  height: 380px;
  position: relative;
  &-text {
    margin-top: 60px;
    position: relative;
    & h3 {
      color: #202020;
      font-family: 'GT Eesti Pro Display';
      font-size: 22px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 30px;
      text-align: left;
    }
    & h2 {
      font-family: 'GT Eesti Pro Display';
      font-size: 180px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 249.19px;
      text-align: left;
      text-transform: uppercase;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
    }
    & img {
      position: absolute;
      top: 42%;
      left: -6%;
      width: 72%;
    }
  }
  &-line {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    left: 0;
    top: 44%;
    position: absolute;
    & p {
      color: #202020;
      font-family: 'GT Eesti Pro Display';
      font-size: 52px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: 60.19px;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      line-height: normal;
      padding-left: 100%;
      animation: marquee-line 10s infinite linear;
      display: inline-block;
    }
    & span {
      color: red;
    }
  }
}

@keyframes marquee-line {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
