.marquee {
    background-color: #fff;
    height: 380px;
    position: relative;
    &-text {
        margin-top: 60px;
        position: relative;
        & h3 {
            color: #202020;
            font-family: "GT Eesti Pro Display";
            font-size: 2.2em;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: 30px;
            text-align: left;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
        }
        & h2 {
            /* Style for "бизнес" */
            color: #000000;
            font-family: "GT Eesti Pro Display";
            font-size: 154px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: 249.19px;
            text-align: left;
            text-transform: uppercase;
            /* Text style for "бизнес" */
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
        }
        & img {
            position: absolute;
            top: 42%;
            left: -6%;
            width: 72%;
        }
    }
    &-line {
        width: 100%;
        white-space: nowrap;
        // overflow: hidden;
        left: 0;
        top: 40%;
        position: absolute;
        & p {
            color: #202020;
            font-family: "GT Eesti Pro Display";
            font-size: 52px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: normal;
            line-height: 60.19px;
            text-align: right;
            text-transform: uppercase;
            letter-spacing: 3.6px;
            line-height: normal;
            padding-left: 100%;
            animation: marquee-line 10s infinite linear;
            display: inline-block;
        }
        & span {
            color: red;
        }
    }
}

@keyframes marquee-line {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}