.technologies {
  background-color: #f5f5f6;
  position: relative;
  z-index: 1;
  &-box {
    padding: 50px 80px 20px 80px;
    position: relative;
    z-index: 1;
    .arrow {
      margin-left: -120px;
    }
  }

  &__title {
    /* Style for "Кейсы" */
    color: #202020;
    font-family: 'GT Eesti Pro Display';
    font-size: 55px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 47.25px;
    text-align: left;
    /* Text style for "Кейсы" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 40px;
    margin-left: 110px;
  }
  &__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    & p {
      /* Style for "Применяем" */
      color: #202020;
      font-family: 'GT Eesti Pro Display';
      font-size: 26px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 30px;
      text-align: left;
      margin-left: 110px;
      margin-bottom: 0;
    }
  }
  &__rectangle {
    display: block;
    width: 800px;
    height: 20px;
    margin: 80px auto 20px;
  }
}

//=============SLIDER===========================================//@at-root
.technologies__slider {
  position: relative;
}

.carousel-inner {
  z-index: 2;
}

.carousel-item {
  object-fit: contain;
  border: 1px solid #fafafb;
  background-color: #fafafb;
}

.item {
  flex: 0 0 25%;
  padding: 28px;
  border: 1px solid whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & img {
    width: 120px;
    align-items: center;
  }
  & .rookee {
    margin-top: 8px;
  }
  & .power {
    margin-top: 20px;
  }
}

.item > p {
  margin-bottom: 20px;
  font-size: 10px;
  margin-top: 20px;
}

.item > p > span {
  font-size: 12px;
  font-weight: 600;
}

.wrapp_card {
  display: flex;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  text-align: center;
  opacity: 0.5;
  height: 40px;
  transform: translateY(-50%);
  border: 1px solid gray;
  border-radius: 50px;
}

.carousel-control-prev {
  left: -50px;
}

.carousel-control-next {
  right: -50px;
}
